{
  "name": "Aktualino (standard)",
  "version": "{{VERSION}}",
  "new_install_prompt_erase": true,
  "builds": [
    {
      "chipFamily": "ESP32",
      "parts": [{ "path": "aktualino-esp32-plain-{{VERSION}}.bin", "offset": 0 }]
    },
    {
      "chipFamily": "ESP32-S3",
      "parts": [{ "path": "aktualino-esp32s3-plain-{{VERSION}}.bin", "offset": 0 }]
    }
  ]
}
